.cc{
  width: 80%;
  margin: 0 auto;
}

.left {
  width: 90%;
  margin: 0 auto;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #f55c0d;
  margin-bottom: 1rem;
  text-align: left;
}
