.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.home__image{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.home__text {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home__text h2{
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: #000;
  margin-top: 20px;
  margin-bottom: 0;
}

.home__text p{
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.whatsapp{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  color: #fff;
  background-color: #0e972e;
  border: none;
  border-radius: 50px;
  padding: 10px 10px;
  text-decoration: none;
}

.company__info{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #f6f6f6;
}

.sections{
  width: 100%;
}

.whatsapp:hover{
  background-color: #19c942;
  color: #fff;
}

.comments{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  margin-top: 30px;
  background-image: url("../../images/comments.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.comments__title{
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.comments__text{
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  width: 60%;
  background-color: rgba(53, 53, 53, 0.5);
  padding: 10px 70px;
  text-align: center;
}

@media (min-width: 900px) {
  .home{
    flex-direction: row;
    height: 100%;
    margin-bottom: 0;
  }

  .home__image{
    width: 50%;
    height: 100%
  }

  .home__text {
    width: 40%;
    text-align: right;
  }

  .home__text h2{
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: #000;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .home__text p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
  }
  
  .company__info{
    height: 100%;
  }

  .sections{
    display: flex;
    flex-direction: row;
  }

}
