.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px 30px;
  border-bottom: 1px solid #eaeaea;
}

 
.header a{
  color: #000;
  text-decoration: none;
}

.header span{
  color: #F55C0D;
}


.left-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
}

.left-nav .logo img{
  width: 40px;
  height: 40px;
}

.left-nav h1{
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.15;
  color: #0070f3;
  margin-left: 1rem;
}

/* .nav-active{
  display: block;
  position: absolute;
  top: 79px;
  right: 0;
  z-index: 100;
  padding: 10px 30px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  height: 100vh;
} */

.nav-active{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: rgb(170, 170, 170);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.nav-active a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2c2c2c;
  display: block;
  transition: 0.3s;
}

.custom{
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.right-nav{
  display: none;
}

.right-nav button{
  width: max-content;
  padding: 10px 20px;
  border: 1px solid #eaeaea;
}

@media (min-width: 768px) {
  .header{
    padding: 10px 70px;
  }

  .left-nav h1{
    font-size: 1.5rem;
  }

  .right-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .right-nav a:hover{
    color: #F55C0D;
  }

  .right-nav a:last-child{
    background-color: #F55C0D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
  }

  .right-nav a:last-child:hover{
    background-color: #f56f2d;
    color: #fff;
  }
  
  .right-nav a{
    margin-left: 20px;
    text-decoration: none;
    color: #000;
  }
  
  .right-nav a:hover{
    color: #F55C0D;
  }

  .button-logout{
    background-color: #F55C0D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 20px;
    cursor: pointer;
  }

  .button-logout:hover{
    background-color: #f56f2d;
    color: #fff;
  }

  .header > button{
    display: none;
  }

  .right-nav > button{
    display: none;
  }

  .button-logout{
    display: block !important;
  }


}