html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fff9f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
